h1{
	text-align : center;
	padding-bottom: 20;
}

#Events{
	display:none;
}

#ContactUsData{
	display:none;
}

#RegistrationData{
	display:none;
}

#Homepage{
	display:none;
}
#Highlightpage{
	display:none;
}

#ContactUsData{
	display:none;
}

#RegistrationData{
	display:none;
}

