<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Genp_WebsiteTrial</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>register.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HomePageAction</display-name>
    <servlet-name>HomePageAction</servlet-name>
    <servlet-class>Action.HomePageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageAction</servlet-name>
    <url-pattern>/HomePageAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUsAction</display-name>
    <servlet-name>ContactUsAction</servlet-name>
    <servlet-class>Action.ContactUsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsAction</servlet-name>
    <url-pattern>/ContactUsAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Action</display-name>
    <servlet-name>Action</servlet-name>
    <servlet-class>ContactUsAction.Action</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Action</servlet-name>
    <url-pattern>/Action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUsAction1</display-name>
    <servlet-name>ContactUsAction1</servlet-name>
    <servlet-class>Action.ContactUsAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsAction1</servlet-name>
    <url-pattern>/ContactUsAction1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminPageAction</display-name>
    <servlet-name>AdminPageAction</servlet-name>
    <servlet-class>Action.AdminPageAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminPageAction</servlet-name>
    <url-pattern>/AdminPageAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactUsDetails</display-name>
    <servlet-name>ContactUsDetails</servlet-name>
    <servlet-class>Action.ContactUsDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactUsDetails</servlet-name>
    <url-pattern>/ContactUsDetails</url-pattern>
  </servlet-mapping>
</web-app>